<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <servlet-name>priceTranslator</servlet-name>
    <servlet-class>com.mmazi.fbu.FiatBitoinUriServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reloadPricesServlet</servlet-name>
    <servlet-class>com.mmazi.fbu.ReloadPricesServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>priceTranslator</servlet-name>
    <url-pattern>/fbu/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reloadPricesServlet</servlet-name>
    <url-pattern>/cron/reload-prices/*</url-pattern>
  </servlet-mapping>
</web-app>
